@font-face { font-family: Montserrat; src: url('../Resources/Montserrat-Regular.ttf'); } 

.document {
    background-color: #d59241;
}

.App {
  text-align: center;
  background-color: #fff !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 700px){
    .hero{
        background-image: url("../Resources/Condo_Photos/pdp_Mobile.jpg");
        background-position: center center;
    }
}

@media screen and (max-width:900px){
    .hero{
        background-image: url("../Resources/Condo_Photos/pdp_Ipad.jpg");
        background-position: center center;
    }
}

@media screen and (min-width:901px){
    .hero{
        background-image: url("../Resources/Condo_Photos/pdp_1600x750.jpg");
        background-position: center center;
    }
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: rgb( 97,173,206);    
}

.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.img {
    border-style: none;
}

.App-link {
  color: #61dafb;
}

.containerBar {
    position: relative;
    top: 0;
    z-index: 1;
    background-color: rgb( 97,173,206);
    margin-bottom: 0%;
}

.menuList {
    width: 100%;
    margin-top: 1rem;
}

.travelbar {
    size: 5rem;
    font-size: 2vw;
    color : white;
    display: block;
    width: 35%;
    margin-top: 0;
    line-height: 3rem;
    text-align: center;   
    float: left;
}

.travelbar:hover {
    background-color: whitesmoke;
    cursor: pointer;    
    color: #013ee5;
}

.text {
    font-family: Montserrat;
}

.logo {
    max-width: 100px;
    max-height: 50px;
    min-width: 1em;
    min-height: 1em;
    left: 10;
    cursor: pointer;
}

.mainText {
    font-weight: bold;
}

.mainPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.greeting {
    color: #013ee5;
    font-size: 6vw;
    text-align: center;
    font-weight: 800;
}

.paragraph {
    font-size: 3vw;
    text-align: justify;
}

.center {
    text-align: center !important;
}

.homeText {
    margin-left: auto;
    margin-right: auto;    
    width: 80%;    
}

h1 {
    font-size: 3.5vw;
}

h2 {
    font-size: 2vw;
    font-weight: normal;
    margin: 1rem;
}

.slide-container {
    display: block;
    width: 75%;
    align-self: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto; 
}

/*Hero Section*/

.hero {
    position: relative;
    opacity: 0.9;
    top: -.75rem;
    width: 100%;
    min-height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;    
}

.hero::before {
    background-size: cover;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.hero::after {
    background-color: #d59241 !important;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .2;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero-message {
    color: #fff;
    text-shadow: #343a40 4px 4px;
    min-width: 100%;
    min-height: 20em;
    position: relative;
}

.hero-message::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 20em;
    z-index: -1;
}

.hero-title {
    width: 100%;
    font-size: 3.5vw;
    display: block;
    text-align: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.hero-sub-title {
    width: 100%;
    font-size: 3vw;
    display: block;
    text-align: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.hero-title {
    margin: 3% 0;
    text-transform: uppercase;
}

.section {
    margin-top: 10vmin;
    width: 100%;
    display: flex;
    color: black;
}

.development-section {
    display: inline-table;
}

.subTitle {
    font-size: 2.5vw;
}

.section-two-list {
    max-width: 70rem;
    text-align: justify;
    font-size: 1.3vw;
    margin: 0;
}

.section-two-list > li {
    margin-top: 1.75vh;
}

.section-container {
    width: 90%;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 20px;
}

.left-text {
    align-content: center;
    text-align: justify;
    padding-left: initial;
    min-width: 50%; 
    /* padding-left: 10rem; */
}

.princesa-list {
    text-align: left !important;
    display: flex;
    font-size: 1vw;
}

.princesa-list > ul > li {
    margin-top: .75vh;
}

.first-list {
    width: 15rem;
}

.second-list {
    align-content: flex-end;
}

.condoLogos {
    max-height: 15vmin;
}

.devLogoContainer {
    width: 100%;
}

.imageContainer {
    align-self: stretch;    
}

.imageContainer__end {
    width: 100%;
    display: flex;
    align-self: stretch;
    justify-content: flex-end;
    position: relative;
}

.sectionImageRight {
    display: flex;
    margin-left: 5em;
    max-width: 75%;
    align-self: flex-start;
    padding-top: 2rem;
}

.right-text {
    justify-content: flex-start;
    text-align: justify;
    float: right;
    padding-right: initial;
    min-width: 50%;
}

.sectionImageLeft {
    display: flex;
    margin-right: 5em;
    align-items: flex-start;
    max-width: 75%;
}

.last-container {
    margin-bottom: 3rem;
}

.justify {
    text-align: justify !important;
    padding-inline-start: 20px !important;
}

.list-align {
    text-align: left !important;
}
