@font-face { font-family: Montserrat; src: url('../Resources/Montserrat-Regular.ttf'); } 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1451px){
    .hero {
        background-image: url('../Resources/Condo_Photos/pdp_1600x750.jpg');
        min-height: 700px;
        min-width: 100%;
    }
    
    .hero::before {
        background-image: url('../Resources/Condo_Photos/pdp_1600x750.jpg');
        width: 100%;
        min-height: 700px;
    }
    
    .hero::after {
        width: 100%;
        min-height: 700px;
        background-color: #d59241;
    }

    h2 {
        font-size: 2.25rem !important;
    }

    .left-text{
        max-width: 65vmin !important;
    }

    .right-text {
        font-size: 1.7rem !important;
    }

    .princesa-list {
        font-size: 1.3rem !important;
    }

    .section-two-list {
        font-size: 1.45rem !important;
    }

    .sectionImageRight {
        height: 450px !important;
        width: 500px !important;
        align-items: center;
        padding-top: 3rem;
    }

    .sectionImageLeft {
        height: 450px;
        width: 500px;
        align-items: center;
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 1450px) {

    .announcement {
        height: 3rem !important;
        line-height: 1.75rem !important;
    }

    .hero {
        background-image: url('../Resources/Condo_Photos/pdp_1400x700.jpg');
        min-height: 700px;
        min-width: 100%;
    }
    
    .hero::before {
        width: 100%;
        min-height: 700px;
    }
    
    .hero::after {
        width: 100%;
        min-height: 700px;
        background-color: #d59241;
    }

    h2 {
        font-size: 2.0rem !important;
    }
    .right-text {
        font-size: 1.7rem !important;
    }

    .princesa-list {
        font-size: .95rem !important;
    }

    .section-two-list {
        font-size: 1.15rem !important;
    }

    .sectionImageRight {
        height: 350px;
        width: 450px;
        align-items: center;
        padding-top: 3rem;
    }

    .sectionImageLeft {
        height: 350px;
        width: 450px;
        align-items: center;
        padding-top: 1.5rem;
    }
}

@media only screen and (max-width: 1100px){

    .announcement {
        height: 3rem !important;
        line-height: 1.25rem !important;
        font-size: 1.5rem !important;
    }
    .hero {
        background-image: url('../Resources/Condo_Photos/pdp_1100x700.jpg');
        min-height: 700px;
        min-width: 100%;
    }
    
    .hero::before {
        width: 100%;
        min-height: 700px;
    }
    
    .hero::after {
        width: 100%;
        min-height: 700px;
        background-color: #d59241;
    }

    .right-text {
        font-size: 1.5rem !important;
    }
    .section-container {
        display: block !important;
    }

    .sectionImageRight {
        margin-left: 0 !important;
        margin-top: 2rem !important;
        align-self: center !important;
        padding-top: 0 !important;
        height: 570px !important;
        width: 590px !important;
    }

    .sectionImageLeft {
        display: none;
    }

    .imageContainer {
        width: 100% !important;
    }

    h2 {
        font-size: 2.25rem !important;
    }

    .left-text {
        max-width: 100% !important;
        text-align: left !important;
        font-size: 2rem !important;
    }

    .princesa-list {
        font-size: 1.25rem !important;
        position: relative;
    }

    .right-text {
        max-width: 100% !important;
        text-align: left !important;
    }

    .section-two-list {
        font-size: 1.5rem !important;
        text-align: left !important;
    }
}

/*  Most phones (horizontal and tablets) */
@media only screen and (max-width: 770px) {
    .announcement {
        line-height: 1rem;
        font-size: 1.25rem !important;
    }
    .hero {
        background-image: url('../Resources/Condo_Photos/pdp_MobileVertical.jpg');
        min-height: 900px;
    }

    .hero::before {
        min-height: 900px;
    }

    .hero::after {
        min-height: 900px;
        width: 100%;
        background-color: #d59241;
    }

    .hero-title {
        margin: 8% 0 !important;
        font-size: 1.9rem;
    }

    .hero-sub-title {
        font-size: 1.5rem;
        text-shadow: #343a40 2px 2px;
        width: 85% !important;
        padding-left: 1.5rem;
        align-self: center;
    }

    .subTitle {
        width: 100%;
        margin-right: 2rem;
    }

    h2 {
        font-size: 1.75rem !important;
    }

    .section-two-list {
        font-size: 1.25rem !important;
    }

    .section-container {
        display: block !important;
    }

    .sectionImageRight {
        margin-left: 0 !important;
        margin-top: 2rem !important;
        align-self: center !important;
        height: 340px !important;
        width: 360px !important;
        padding-top: 0 !important;
    }

    .sectionImageLeft {
        display: none;
    }

    .imageContainer {
        width: 100% !important;
    }

    .left-text {
        max-width: 100% !important;
        text-align: left !important;
    }

    .princesa-list {
        font-size: 1.10rem !important;
    }

    .right-text {
        max-width: 100% !important;
        text-align: left !important;
    }

    .last-container {
        margin-bottom: 0 !important;
    }

    .footer-section {
        display: block !important;
        font-size: 1rem !important;        
    }

    .footer-phone {
        width: 80% !important;
        margin-bottom: 1rem; 
        margin-left: 1rem;  
             
    }

    .footer-company {
        width: 80% !important;
        margin-left: 1rem; 
        font-size: 1rem !important;
    }

    .footer-social {
        width: 80% !important;
        margin-left: 1rem; 
    }
}
/*  Most phones (vertical) */
@media only screen and (max-width: 450px) {
    .announcement {
        font-size: .9rem !important;
    }
    .hero {
        background-image: url('../Resources/Condo_Photos/pdp_Mobile.jpg');
        min-height: 600px;
    }

    .hero::before {
        min-height: 600px;
    }

    .hero::after {
        min-height: 600px;
        width: 100%;
        background-color: #d59241;
    }

    .hero-title {
        margin: 5% 0 !important;
        font-size: 1.5rem !important;
    }

    .hero-sub-title {
        font-size: 1.25rem !important;
        text-shadow: #343a40 2px 2px;
        width: 85% !important;
        padding-left: 1.5rem;
        align-self: center;
    }

    .subTitle {
        width: 100%;
        margin-right: .25rem;
        font-size: .75rem;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    .section-container {
        display: block !important;
    }

    .sectionImageRight {
        margin-left: 1.25rem !important;
        margin-top: 2rem !important;
        align-self: center !important;
        height: 240px !important;
        width: 260px !important;
        padding-top: 0 !important;
    }

    .sectionImageLeft {
        display: none;
    }

    .imageContainer {
        width: 100% !important;
    }

    .left-text {
        max-width: 100% !important;
        text-align: left !important;
        font-size: 1rem;
    }

    .princesa-list {
        font-size: .85rem !important;
    }

    .first-list {
        width: 10rem !important;
    }
    .right-text {
        max-width: 100% !important;
        text-align: left !important;
    }

    .section-two-list {
        font-size: 1rem !important;
    }

    .footer-section {
        display: block !important;
        font-size: .75rem !important;        
    }

    .footer-phone {
        width: 80% !important;
        margin-bottom: 1rem;              
    }

    .footer-company {
        width: 80% !important;
        margin-left: 1rem; 
        font-size: .75rem !important;
    }

    .footer-social {
        width: 80% !important;
        margin-left: 1.7rem; 
    }

    .facebook-logo {
        height: 20px !important;
    }
}

.App {
  text-align: center;
  background-color: #fff !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: rgb( 97,173,206);    
}

.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.img {
    border-style: none;
}

.App-link {
  color: #61dafb;
}

.document {
    background-color: #d59241;
}

.containerBar {
    position: relative;
    top: 0;
    z-index: 1;
    background-color: rgb( 97,173,206);
    margin-bottom: 0%;
}

.announcement {
    position: relative;
    height: 2.5rem !important;
    top: 0px;
    font-size: 1.60rem;
    z-index: 0;
    background-color: rgb( 97,173,206);
}

@keyframes showMessage {
    from {top: -70px;}
    to {top: 0px}
}

.menuList {
    width: 100%;
    margin-top: 1rem;
}

.travelbar {
    size: 5rem;
    font-size: 18px;
    color : white;
    display: block;
    width: 35%;
    margin-top: 0;
    line-height: 3rem;
    text-align: center;   
    float: left;
}

.travelbar:hover {
    background-color: whitesmoke;
    cursor: pointer;    
    color: #013ee5;
}

.text {
    font-family: Montserrat;
}

.logo {
    max-width: 8%;
    max-height: 8%;
    min-width: 100px;
    min-height: 50px;
    left: 10;
    cursor: pointer;
}

.mainText {
    font-weight: bold;
}

.mainPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.greeting {
    color: #013ee5;
    font-size: 34px;
    text-align: center;
    font-weight: 800;
}

.paragraph {
    font-size: 20px;
    text-align: justify;
}

.center {
    text-align: center !important;
}

.homeText {
    margin-left: auto;
    margin-right: auto;    
    width: 80%;    
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 1rem;
}

.slide-container {
    display: block;
    width: 75%;
    align-self: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto; 
}

/*Hero Section*/

.hero {
    position: relative;
    opacity: 0.9;
    top: -.75rem; /* -3 rem with announcment enabled */
   /* animation-name: heroMove;
    animation-duration: 3s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards; */
}

@keyframes heroMove {
    from {top: -3rem;}
    to {top: 0rem}
}

.hero::before {
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.hero::after {
    background-color: #d59241 !important;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.2;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero-message {
    color: #fff;
    text-shadow: #343a40 4px 4px;
    min-width: 100%;
    min-height: 20em;
    position: relative;
}

.hero-message::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 20em;
    z-index: -1;
}

.hero-title,
.hero-sub-title {
    width: 100%;
    display: block;
    text-align: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.hero-title {
    margin: 3% 0;
    text-transform: uppercase;
}

.section {
    margin-top: 10vmin;
    width: 100%;
    display: flex;
    color: black;
}

.development-section {
    display: inline-table;
}

.section-two-list {
    max-width: 70rem;
    text-align: justify;
    font-size: 1.7rem;
}

.section-container {
    width: 80%;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 20px;
}

.left-text {
    text-align: justify;
    padding-left: initial;
    max-width: 60vmin;
    /* padding-left: 10rem; */
}

.princesa-list {
    text-align: left !important;
    display: flex;
    font-size: 1.30rem;
}

.first-list {
    width: 15rem;
}

.second-list {
    align-content: flex-end;
}

.condoLogos {
    max-height: 15vmin;
}

.devLogoContainer {
    width: 100%;
}

.imageContainer {
    align-self: stretch;    
}

.sectionImageRight {
    margin-left: 5em;
    max-height: 500px;
    max-width: 600px;
    align-items: center;
    padding-top: 2rem;
}

.right-text {
    text-align: justify;
    float: right;
    padding-right: initial;
    max-width: 60vmin;
}

.sectionImageLeft {
    margin-right: 5em;
    max-height: 500px;
    max-width: 600px;
}

.last-container {
    margin-bottom: 3rem;
}

.justify {
    text-align: justify !important;
    padding-inline-start: 20px !important;
}

.list-align {
    text-align: left !important;
}
.footer{
    padding-bottom: 1.5vmin;
    background-color: rgb( 97,173,206);
    font-size: 1.2rem;
    text-align: left;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
}

.footer-phone {
    width: 65%;
    margin-left: 1.5rem;
}

.footer-company {
    display: block;
    text-align: center;
}

.footer-social {
    display: flex;
    margin-right: 1.5rem;
}

.facebook-logo {
    cursor: pointer;
    height: 30px;
    align-self: center;
    margin-left: 10px;
}