@font-face { font-family: Montserrat; src: url('Resources/Montserrat-Regular.ttf'); } 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  background-color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  display: inline-block;
  font-size: calc(10px + 2vmin);
  
}

.img {
    border-style: none;
}

.App-link {
  color: #61dafb;
}

.document {
    background-color: #d59241;
}

.containerBar {
    background-color: rgb( 97,173,206);
    width: 100%;
    display: inline-flex;    
    margin-bottom: 0%;
}

.menuList {
    width: 100%;
    margin-top: 1rem;
}

.travelBar {
    size: 18;
    font-size: 22px;
    color : white;
    display: block;
    width: 25%;
    margin-top: 0;
    line-height: 3rem;
    text-align: center;   
    float: left;
}

.travelBar:hover {
    background-color: whitesmoke;
    cursor: pointer;    
}

.travelBarText:hover {
    color: #013ee5;
}

.text {
    font-family: Montserrat;
}

.logo {
    display: block;;
    max-width: 8%;
    max-height: 8%;
    min-width: 170px;
    min-height: 50px;
    left: 10;
    cursor: pointer;
}

.Main {
    background-color: #d59241;
}

.mainText {
    font-weight: bold;
}

.mainPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.greeting {
    color: #013ee5;
    font-size: 34px;
    text-align: center;
    font-weight: 800;
}

.paragraph {
    color: #fff;    /*#663300*/
    font-size: 20px;
    text-align: justify;
}

.center {
    text-align: center !important;
}

.homeText {
    margin-left: auto;
    margin-right: auto;    
    width: 80%;    
}

.h1 {
    font-size: larger;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 1rem;
}

.gallery {
    padding: 40px;
}

.slide-container {
    display: block;
    width: 75%;
    align-self: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto; 
}

/*Hero Section*/

.hero {
    background-image: url('../src/Resources/Condo_Photos/pdp_1200x675.jpg');
    min-height: 900px;
    min-width: 100%;
    position: relative;
    opacity: 0.9;
    top: -7px;
}

.hero::before {
    background-image: url('../src/Resources/Condo_Photos/pdp_1200x675.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 900px;
    z-index: -2;
}

.hero::after {
    background-color: #d59241;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 900px;
    z-index: -1;
    opacity: 0.2;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero-message {
    color: #fff;
    text-shadow: #343a40 4px 4px;
    min-width: 100%;
    min-height: 20em;
    position: relative;
}

.hero-message::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 20em;
    z-index: -1;
}

.hero-title,
.hero-sub-title {
    width: 100%;
    display: block;
    text-align: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.hero-title {
    margin: 3% 0;
    text-transform: uppercase;
}

.section {
    min-height: 50vmin;
    margin-top: 10vmin;
    align-items: center;
    width: 100%;
    display: inline-block;
    color: black;
}

.development-section {
    display: inline-table;
}

.section-paragraph {
    max-width: 60rem;
    text-align: justify;
    font-size: 1.28rem !important;
}

.section-container {
    width: 80%;
    align-content: center;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 24px;
}

.left-text {
    text-align: justify;
    padding-left: initial;
    font-size: 16 !important;
    max-width: 60vmin;
    /* padding-left: 10rem; */
}

.condoLogos {
    max-height: 15vmin;
}

.devLogoContainer {
    width: 100%;
}


.sectionImageRight {
    position: relative;
    max-height: 350px;
    align-items: center;
    margin-left: 40vmin;
}

.right-text {
    text-align: justify;
    float: right;
    padding-right: initial;
    font-size: 16 !important;
    max-width: 60vmin;
    /* padding-left: 10rem; */
}

.sectionImageLeft {
    position: relative;
    float: left;
    max-height: 350px;
    align-items: center;
    margin-right: 40vmin; 
}


