.document
{
    background-color: rgb(248, 195, 76);
}

@font-face { font-family: Montserrat; src: url('Resources/Montserrat-Regular.ttf'); } 

.text
{
    font-family: Montserrat;
}

.logo
{
    max-width: 20%;
    max-height: 15%;
}

.mainText
{
    font-weight: bold;
}

.containerBar
{
    background-color: rgb( 97,173,206);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 2rem;
    width: 100%;
    display: block;    
    margin-bottom: 1%;
}

.travelBar
{
    size: 18;
    font-size: medium;
    color : white;
    /* margin: 0 10% 5% 5%; */
    margin-top: 0;
    margin-left: 7%;
    line-height: 2rem;
    text-align: center;
    width: 16%;
    height: 100%;
    float: left;
}

.travelBar:hover
{
    background-color: crimson;
    cursor: pointer;
}

.mainPicture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.greeting
{
    color: #013ee5;
    font-size: x-large;
    text-align: center;
    font-weight: 800;
}

.paragraph
{
    color: #663300;
    font-size: larger;
    text-align: justify;
}

.homeText
{
    margin-left: auto;
    margin-right: auto;    
    width: 80%;
}

.h1
{
    font-size: larger;
}

.h1
{
    font-size: large;
}
